<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="email"
        name="email"
        placeholder="Email"
        matInput
        ngModel
        email
        #email="ngModel"
        required>

      <mat-error *ngIf="email.hasError('required')">Field must not be empty!</mat-error>
      <mat-error *ngIf="!email.hasError('required')">Email is invalid!</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        name="password"
        placeholder="Password"
        matInput
        ngModel
        required
        #password="ngModel">

      <mat-error *ngIf="password.hasError('required')">Field must not be empty!</mat-error>
    </mat-form-field>

    <button
      style="margin-top: 25px;"
      type="submit"
      [disabled]="f.invalid"
      mat-raised-button
      color="primary">Login</button>
  </form>
</section>
